body {
  padding: 0;
  margin: 0;
}
.cp {
  cursor: pointer;
}

.country {
  font-size: 18px;
  border: 1px solid gray;
  cursor: pointer;
  margin: 1px;
  border-radius: 4px;
}
.country.list {
  display: block;
  text-align: center;
  height: 40px;
  line-height: 5vh;
}
.country.grid {
  display: inline-block;
  width: 24%;
  margin: 1px;
  height: 150px;
  text-align: center;
  vertical-align: middle;
  line-height: 18vh;
}

.pages {
  height: 20px;
  margin: 20px;
}
.pages span {
  padding: 5px;;
}
.pages span.active {
  background-color: gray;
}

.weather {
  position: absolute;
  left: 30px;
  line-height: 30px;
  font-size: 20px;
}
.back-btn {
  display: block;
  background-color: #e6e1e1;
  border-radius: 10px;
  padding: 0 10px;
}