<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather report</title>
    <link rel="stylesheet" href="./css/styles.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.4-build.3588/angular.min.js"></script>
    <script src="./scripts/app.js"></script>
  </head>
  <body ng-app="app">
    <div ng-controller="mainController" ng-init="getData(allCountriesURL)">
      <div ng-if="showList">
        <h1>{{heading}}</h1>
        <div class="cp">
          <span ng-click="className = 'grid'">Grid View</span>
          <span ng-click="className = 'list'">List View</span>
        </div>
        <span
          ng-if="displayData && displayData.length"
          ng-repeat="(key, country) in displayData"
        >
          <country info="country" ng-click="openWeather(country)"></country>
        </span>
        <div class="pages">
          <span
            class="cp"
            ng-repeat="(key, value) in pages track by $index"
            ng-class="{'active': key + 1 == curPage}"
          >
            <a ng-click="updatePage(key + 1)">{{key + 1}} </a>
          </span>
        </div>
      </div>
      <div ng-if="!showList">
        <h3>displaying weather data!</h3>
        <a class="cp" ng-click="updateState()">
          <-- Go Back!
        </a>
        <div>
          <label>Temperature</label> {{ weather.temp }}
          <br />
          <label>pressure</label> {{weather.pressure}}
          <br />
          <label>humidity</label> {{weather.humidity}}
        </div>
      </div>
    </div>
  </body>
</html>
